# Node
node_modules/
.next/
.turbo/
.vercel/

# Python
__pycache__/
.venv/
.pytest_cache/
.mypy_cache/

# Hardhat
cache/
artifacts/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Env
.env
.env.local
.env.*.local